* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}

/* REUSABLE STYLES BELOW*/

.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-right {
  justify-content: right;
}
.justify-left {
  justify-content: left;
}
.grow {
  flex: 1;
}
.column {
  flex-direction: column;
}
.fullwidth {
  width: 100%;
}
.text-align-center {
  text-align: center;
}
.wrap {
  flex-wrap: wrap;
}
.flex-row {
  flex-direction: row;
}
.padding {
  padding: 1rem;
}

/* Body styles below */

body {
  font-family: helvetica;
  min-height: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(30, 75, 50);
  overflow: hidden;
}

/* MAIN STYLES BELOW*/

main {
  height: 30rem;
  margin-top: 8rem;
}

.error {
  width: 100%;
  height: 70rem;
  display: none;
}

.blackcat {
  position: absolute;
  left: 2rem;
  bottom: 0;
  height: 10rem;
}

.dryck {
  height: 15rem;
  margin: 3.5rem;
  cursor: pointer;
}

.textdiv {
  text-shadow: 5px 5px 10px rgb(148, 148, 148);
}

.glitter {
  animation-name: movingGlitter;
  animation: movingGlitter 20s infinite;
  position: relative;
  height: 10rem;
  width: auto;
}

.changebody {
  animation-name: colorchange;
  animation: colorchange 10s infinite;
}

.fadein {
  animation: fadeIn ease 10s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.slidein {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes movingGlitter {
  0% {
    top: 100px;
    left: 200px;
  }
  25% {
    top: 800px;
    left: 200px;
  }
  50% {
    top: 800px;
    left: 1400px;
  }
  75% {
    top: 100px;
    left: 1400px;
  }
  100% {
    top: 100px;
    left: 200px;
  }
}

@keyframes colorchange {
  0% {
    background-color: #250050;
  }
  25% {
    background-color: rgb(0, 0, 0);
  }
  50% {
    background-color: #00124d;
  }
  75% {
    background-color: rgb(0, 0, 0);
  }
  100% {
    background-color: #310029;
  }
}
