* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  font-family: helvetica;
  min-height: 100%;
  color: rgb(0, 248, 227);
  background-color: rgb(30, 75, 50);
  overflow: hidden;
}

/* REUSABLE STYLES BELOW*/
.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-right {
  justify-content: right;
}
.justify-left {
  justify-content: left;
}
.grow {
  flex: 1;
}
.column {
  flex-direction: column;
}
.fullwidth {
  width: 100%;
}
.text-align-center {
  text-align: center;
}
.wrap {
  flex-wrap: wrap;
}
.flex-row {
  flex-direction: row;
}
.padding {
  padding: 1rem;
}

/* POTION AND MAIN STYLES BELOW*/

main {
  height: 30rem;
  margin-top: 10rem;
}

.error {
  width: 100%;
  height: 70rem;
  display: none;
}

.dryck {
  width: auto;
  height: 15rem;
  margin: 3.5rem;
}

.textdiv {
  text-shadow: 5px 5px 10px rgb(6, 156, 119);
}

.fadein {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.slidein {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.kanin {
  animation-name: movingBunny;
  animation: movingBunny 20s infinite;
  position: relative;
  height: 10rem;
  width: auto;
}

@keyframes movingBunny {
  0% {
    top: 100px;
    left: 200px;
  }
  25% {
    top: 800px;
    left: 200px;
  }
  50% {
    top: 800px;
    left: 1400px;
  }
  75% {
    top: 100px;
    left: 1400px;
  }
  100% {
    top: 100px;
    left: 200px;
  }
}

.changebody {
  animation-name: colorchange;
  animation: colorchange 10s infinite;
}

@keyframes colorchange {
  0% {
    background-color: rgb(125, 2, 173);
  }
  25% {
    background-color: rgb(51, 5, 95);
  }
  50% {
    background-color: rgb(3, 17, 99);
  }
  75% {
    background-color: rgb(1, 52, 77);
  }
  100% {
    background-color: rgb(66, 2, 56);
  }
}
