* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  font-family: helvetica;
  min-height: 100%;
  background-image: url(./Bilder/mushy.jpeg);
  background-position: bottom;
  background-size: cover;
  overflow: hidden;
}

.balto {
  position: absolute;
  height: 20rem;
  bottom: 0;
  left: 0;
}

.luna {
  position: absolute;
  height: 30rem;
  bottom: -7rem;
  right: -5rem;
}

.bollen {
  top: 0;
  left: 0;
  position: absolute;
  height: 10rem;
  background-color: rgb(103, 75, 206);
  border-radius: 1rem;
  border: solid white;
  margin: 1rem;
}

.form {
  position: absolute;
  top: 0;
  margin-left: 11rem;
  margin-top: 3rem;
  background-color: rgb(66, 23, 219);
  padding: 1rem;
  color: white;
  border: solid white;
  border-radius: 1rem;
}

.form div {
  padding: 0.7rem;
}
