* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  font-family: helvetica;
  min-height: 100%;
  background-image: url(./Bilder/mushy.jpeg);
  background-position: bottom;
  background-size: cover;
}

.balto {
  position: absolute;
  height: 20rem;
  bottom: 0;
  left: 0;
}

.mushroom {
  position: absolute;
  height: 15rem;
  bottom: 0;
  right: 0;
  margin-right: 4rem;
}
